@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rufina-Regular';
  src: url('../fonts/rufina/Rufina-Regular.eot');
  src:
    url('../fonts/rufina/Rufina-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rufina/Rufina-Regular.woff2') format('woff2'),
    url('../fonts/rufina/Rufina-Regular.woff') format('woff'),
    url('../fonts/rufina/Rufina-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.eot');
  src:
    url('../fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(29 78 216);
}

.truncate-lines-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate-lines-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate-lines-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (max-width: 767px) {
  .truncate-lines-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .truncate-lines-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .truncate-lines-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}
